<ion-header>
  <ion-toolbar color="light">
    <ion-title>Painel Principal</ion-title>
    <p>ágina criada com Split Pane Layout</p>
  </ion-toolbar>
</ion-header>
<ion-router-outlet main></ion-router-outlet>
<ion-split-pane>
  <ion-menu>
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Painel Lateral</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item>1</ion-item>
        <ion-item>2</ion-item>
        <ion-item>3</ion-item>
    </ion-content>
  </ion-menu>
</ion-split-pane>

<ion-content>
</ion-content>


